1 st pract : Create one-dimensional data using series and perform various operations on it

In [1]:
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])

In [2]:
print(data)

a    5
b    2
c    3
d    7
dtype: int64

In [3]:
print(data1)

a    1
b    6
d    4
e    9
dtype: int64

In [4]:
# .add
data.add(data1, fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [5]:
# .sub
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

In [6]:
# .mul
data.mul(data1)

a     5.0
b    12.0
c     NaN
d    28.0
e     NaN
dtype: float64

In [7]:
# . div
data.div(data1)

a    5.000000
b    0.333333
c         NaN
d    1.750000
e         NaN
dtype: float64

In [8]:
data.pow(data1)

a       5.0
b      64.0
c       NaN
d    2401.0
e       NaN
dtype: float64

2nd pract : Create Two-dimensional data with the help of data frames and perform different operations 
on it.

In [9]:
# import randn to generate random numbers
from numpy.random import randn

In [10]:
# DataFrame with random numbers, 5 rows, 4 columns
df=pd.DataFrame(data=randn(3,3), index= ['a','b','c'], columns=['red','green','yellow'])
df

        red     green    yellow
a  0.717429 -0.323802  0.512100
b -0.849805 -0.248342  0.077020
c  0.655792  0.930886  0.488239

In [11]:
# colum selection
df.green

a   -0.323802
b   -0.248342
c    0.930886
Name: green, dtype: float64

In [12]:
# multiple colume selection
df[['red','yellow']]

        red    yellow
a  0.717429  0.512100
b -0.849805  0.077020
c  0.655792  0.488239

In [13]:
# insert
df.insert(2, "color", "Any")

In [14]:
df

        red     green color    yellow
a  0.717429 -0.323802   Any  0.512100
b -0.849805 -0.248342   Any  0.077020
c  0.655792  0.930886   Any  0.488239

deleting column / row

In [15]:
df.drop('color',axis=1)

        red     green    yellow
a  0.717429 -0.323802  0.512100
b -0.849805 -0.248342  0.077020
c  0.655792  0.930886  0.488239

In [16]:
df.drop('a', axis=0)

        red     green color    yellow
b -0.849805 -0.248342   Any  0.077020
c  0.655792  0.930886   Any  0.488239

conditional operation

In [17]:
df

        red     green color    yellow
a  0.717429 -0.323802   Any  0.512100
b -0.849805 -0.248342   Any  0.077020
c  0.655792  0.930886   Any  0.488239

In [18]:
df1=df.drop('color',axis=1)

In [19]:
df1

        red     green    yellow
a  0.717429 -0.323802  0.512100
b -0.849805 -0.248342  0.077020
c  0.655792  0.930886  0.488239

In [20]:
# greater than 0
df1 >0

     red  green  yellow
a   True  False    True
b  False  False    True
c   True   True    True

In [21]:
# condition on only one column, will return boolean
df1['green']>0

a    False
b    False
c     True
Name: green, dtype: bool